<% layout('layout/page')%>
<% block('title', 'Магазин мебели');%>

<% if (user) { %>

<% } else { %>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <p>Добро пожаловать</p>
    </div>
</div>
<% } %>
