

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" role="navigation">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="/">Главная</a></li>
                <li class="nav-item"><a class="nav-link" href="/users" role="button">Пользователи</a></li>
                <li class="nav-item"><a class="nav-link"href="/dialogRedaction/1" role="button">Редактор</a></li>
                <li class="nav-item"><a class="nav-link"href="/game" role="button">Игра</a></li>
                <li class="nav-item"><a class="nav-link"href="/gameBuilder" role="button">Настройки игры</a></li>
            </ul>

            <ul class="navbar-nav">
                <% if (user) { %>
                <li id="right"><a onclick="logout()" role="button">Выйти</a></li>
                <% } else { %>
                <li id="right"><a href="/login">Войти</a></li>
                <% } %>
            </ul>
        </nav>
    </div>
</div>

<script>
function logout() {
    let form = document.createElement('form');
    form.setAttribute('action', '/logout');
    form.setAttribute('method', 'post');

    document.body.appendChild(form);

    form.submit();
}

function send() {
    let form = document.createElement('form');
    form.setAttribute('action', '/send');
    form.setAttribute('method', 'post');

    document.body.appendChild(form);

    form.submit();
}
</script>